* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --white: #feffff;
  --dark: #17252a;
  --medium-cyan: #2b7a78;
  --cyan: #3aafa9;
  --light-cyan: #def2f1;
}
